*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    font-family: 'Diphylleia', serif;
    font-family: 'Montserrat', sans-serif;
}

body{

}

header{
    background-color: #a89282;
    position: relative;
    width: 100%;
    height: 70px;
    font-style: oblique 40deg;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 999;
    position: fixed;
}

a{
    text-decoration: none;
    color: white;
    opacity: 0.8;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 200ms linear;
}

a:hover{
    opacity: 1;
    text-decoration: underline;
    cursor: pointer;
}

ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-top: 24px;
}

.perfil01{
    width: 100%;
    height: 600px;
    background-color: #1D080A;
    padding-left: 20px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap: 20px;
    color: white;

}

.rel{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 100%;
    border: 5px solid ;
}

.img01{
    position: absolute;
    left: -60px;
    right: -50px;
    top: -40px;
    width: 500px;
    height: 500px;
    transition: all 200ms linear;
}

.img01:hover{
    transform: scale(1.2);
    transition: all 400ms linear;
}

.perfil02{
    width: 100%;
    height: 600px;
    background-color: #4C2427;
    padding-right: 20px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    gap: 20px;
    color: white;
    -webkit-flex-direction: row-reverse;
}

.rel2{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 100%;
    border: 5px solid ;
}

.img02{
    position: absolute;
    left: -60px;
    right: -50px;
    top: -40px;
    width: 500px;
    height: 500px;
    transition: all 200ms linear;
}

.img02:hover{
    transform: scale(1.2);
    transition: all 400ms linear;
}

.tecno{
    width: 100%;
    height: 600px;
    background-color: #744B33;
    padding-left: 20px;
    padding-top: 5px;
    color: white;
}

.contact{
    width: 100%;
    height: auto;
    background-color: #83655a;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    display: flex;
    padding-bottom: 50px;
    color: black;
}

.leftcontact{
    background-color: #d1c5b8;
    width: 600px;
    height: 500px;
}

.rightcontact{
    background-color: #D1C5B8;
    width: 600px;
    height: 500px;
}